<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pillbiz.firebaseconfigapp">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>


    <application>

        android:name="androidx.multidex.MultiDexApplication"
    <!--If you are using your own custom Application class then extend -->
    <!--MultiDexApplication and change above line as-->
    <!--android:name=".YourCustomApplicationClass"> -->

    </application>

</manifest>
